<p>
  <b>Title:</b>
  <%=h @advertiser.title %>
</p>

<p>
  <b>Info:</b>
  <%=h @advertiser.info %>
</p>


<%= link_to 'Edit', edit_advertiser_path(@advertiser) %> |
<%= link_to 'Back', advertisers_path %>
