<div class="about">

<p>
<%= application_name %> offers advertising within our map. The location of your business will 
show up as a marker posibly along with vessels that match the user's search.  We offers three levels:
<ul>
  <li>
    Global - Advertisements that show up on the home page map.  These ads show up without a vessel search.
  <li>
    Regional - Advertisements that show up along with vessel search results on the map.  Your business
only shows if it's location is within the map frame.
  </li>
  <li>
    Local - Advertisments that show up with a single vessel on the map.  These ads show
when the user chooses to see a specific vessel, and your business happens to be very close by.
  </li>
</ul>
</p>

<h3>Get Started!</h3>
<p>
Sign up and create advertisements.
</p>
</div>
