<div class="about">

<p>
<%= application_name %> offers a freely accessable XML feed of vessel information.  Anyone can signup for an API key 
and talk with our database.  Check out our libraries, API documentation, and examples.
</p>

<h3>Get Started!</h3>
<p>
Sign up for your API key, and download one of our libraries.
</p>

</div>
