<div class="about">

<p>
<%= application_name %> provides a wealth of vessel information.  It can provide answers to questions such as:
  <ul>
    <li>What percentage of boats are outside the contienental US?</li>
    <li>What is the most common type of vessel?</li>
    <li>Are more vessels located in the north or south? East or west?</li>
    <li>What are the names and addresses of all the vessel owners in Fort Lauderdale, FL?
  </ul>
Please see our examples section for more.
</p>

<h3>Get Started!</h3>
<p>
Do your own research by going to our advanced search page.
</p>

</div>
